<div class="container-fluid px-4">
  <div class="row gx-5">
    <div class="col-6 d-flex justify-content-center">
      <div class="p-auto m-auto  ">
        <h1 class="m-3" >
          HI,My name is <strong class="fw-bol text-primary">Niraj</strong>
          <br>and I am passionate
          <br><strong class="fw-bol text-primary">Web Developer</strong>
        </h1>
        <button type="button" class="btn btn-primary d-inline ms-3">Download Resume</button>
        <button type="button" class="btn btn-primary d-inline ms-2"><a href="https://github.com" class="text-light">GitHub</a></button>
      </div>
    </div>
    <div class="col-6">
      <img
        src="../../../assets/image/desktop.png"
        alt="Loading....."
        class="card-img-top w-75 m-4"
      />
    </div>
  </div>
</div>
<app-about-me></app-about-me>
<app-project></app-project>
<app-contact-us></app-contact-us>


  

<router-outlet></router-outlet>

