<div class="container">
    <h6 class="text-muted">What I have done so far</h6>
    <h1 class="text-uppercase">Work experiences</h1>

    <div class="box">
        <div class="vertical">
            <div class="project font-weight-bold ">
                E-Commerce
            </div>
        </div>
        <div class="vertical">
            <div class="project font-weight-bold ">
                Restaurant
            </div>
        </div>
        <div class="vertical">
            <div class="project font-weight-bold ">
                Menu
            </div>
        </div>
        <div class="vertical">
            <div class="project font-weight-bold ">
                DataBase
            </div>
        </div>
        <div class="vertical">
            <div class="project font-weight-bold ">
                First
            </div>
        </div>
        
    </div>
</div>